# ===== Core =====
streamlit==1.49.1
python-dotenv==1.1.1

# ===== Settings & Config =====
pydantic==2.11.9
pydantic-settings==2.10.1
environs==14.3.0

# ===== Auth & Security =====
bcrypt==3.2.2
python-jose==3.5.0
extra-streamlit-components==0.1.81
passlib==1.7.4

# ===== Data Processing =====
pandas==2.3.2
numpy==2.2.6
openpyxl==3.1.5
pyarrow==21.0.0
xlrd==2.0.2
xlsxwriter==3.2.9

# ===== PDF Processing =====
PyPDF2==3.0.1
python-docx==1.2.0
easyocr==1.7.2
opencv-python-headless==4.12.0.88
Pillow==11.3.0

# ===== Date & Calendar =====
holidays==0.81
python-dateutil==2.9.0.post0

# ===== Utils =====
requests==2.32.5
beautifulsoup4==4.13.5

selenium
pandas
requests
toml
openpyxl

pdf2image
plotly